.btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  line-height: 1.5;
  text-transform: uppercase;
  font-size: 100%;
  font-weight: bold;
  border-radius: 4px;
  padding: 0.5em 1.25em;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
  cursor: pointer;
  box-sizing: border-box;
  color: #fff;
  background: $colorMain;
  border: 1px solid #fff;
  &:hover {
    color: #fff;
    background-color: $colorMainHover;
    color: $colorText;
  }
}

.btn_width {
  width: 100%;
}
