@font-face {
  font-family: "Lato";
  src: local("Lato Regular"), local("Lato-Regular"),
    url("../fonts/Lato-Regular.woff2") format("woff2"),
    url("../fonts/Lato-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: local("Lato Semi Bold"), local("Lato-Semi-Bold"),
    url("../fonts/Lato-Semibold.woff2") format("woff2"),
    url("../fonts/Lato-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: local("Lato Bold"), local("Lato-Bold"),
    url("../fonts/Lato-Bold.woff2") format("woff2"),
    url("../fonts/Lato-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: local("Lato Heavy"), local("Lato-Heavy"),
    url("../fonts/Lato-Heavy.woff2") format("woff2"),
    url("../fonts/Lato-Heavy.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

.page {
  font-family: Lato, "Lucida Grande", Tahoma, Sans-Serif;
  color: $colorText;
  min-width: 320px;
}

.page_fixed {
  overflow: hidden;
}

:focus {
  outline: #000 auto 5px;
}
.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.page__wrapper {
  max-width: 1220px;
  padding: 0 24px;
  margin: 0 auto;
  min-width: 320px;
  box-sizing: border-box;
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: $colorMain;
  text-decoration: none;
  transition: color 0.2s ease-out;
  &:hover {
    color: $colorMainHover;
  }
}

[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
}

button,
label {
  cursor: pointer;
}
input,
button,
select,
option,
textarea {
  color: inherit;
  font: inherit;
  font-weight: normal;
}

.text-center {
  text-align: center;
}

.main-color {
  color: $colorMain;
}

@media screen and (max-width: 767px) {
  .page__wrapper {
    padding: 0 16px;
  }
}
