.page__header {
  background-color: rgb(162, 0, 255);
  color: #fff;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 13;
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 33px 0;
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 767px) {
}

@media screen and (min-width: 768px) {
}
