$colorMain: #3e9cdc;
$colorMainHover: #43abf0;
$colorText: #2a2b30;

@import "../css/normalize";
@import "../css/main";

@import "common-styles";
@import "btn";
@import "header";

@import "../css/main-bottom";
